
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> <!-- Script for loading csv-->

<script type="text/javascript">
    $(function () {
        $("#upload").bind("click", function () {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
            if (regex.test($("#fileUpload").val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var table = $("<table/>");
                        var rows = e.target.result.split("\n");
                        for (var i = 0; i < rows.length; i++) {
                            var row = $("<tr/>");
                            var cells = rows[i].split(",");
                            for (var j = 0; j < cells.length; j++) {
                                var cell = $("<td/>");
                                cell.html(cells[j]);
                                row.append(cell);
                            }
                            table.append(row);
                        }
                        $("#dvCSV").html('');
                        $("#dvCSV").append(table);
                    }
                    reader.readAsText($("#fileUpload")[0].files[0]);
                } else {
                    alert("This browser does not support HTML5.");
                }
            } else {
                alert("Please upload a valid CSV file.");
            }
        });
    });
</script>


  <!-- Modal create label structure -->

  <div id="modal-for-create" class="modal" style="width:248px;">

    <div class="modal-content">

      <div class="input-field">

        <input id="label" type="text" class="validate">

        <label for="label">Label</label>

      </div>

    </div>

    <div class="modal-footer">

      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Save</a>

      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>

    </div>

  </div>






  <!-- Modal settings structure -->

  <div id="modal-for-settings" class="modal" style="width:378px;">

    <div class="modal-content">

      <div>

        <span style="font-size:20px; font-weight:400;">

          Settings

        </span>

      </div>

      <div>

        <p style="font-size:15px; margin-bottom:0;">

          Language

        </p>

        <a href="#!" style="font-size:13px;">Set the specific language</a>

      </div>

      <div style="padding:24px 0; font-weight:400;">

        Phone number country code

        <div class="input-field">

          <select>

            <option value="0" disabled selected>United States</option>
          </select>

        </div>

      </div>

      <div>

        Sort by

        <form action="#">

          <p>

            <input class="with-gap" name="group1" type="radio" id="first-name" checked />

            <label for="first-name">First name</label>

          </p>

          <p>

            <input class="with-gap" name="group1" type="radio" id="last-name" />

            <label for="last-name">Last name</label>

          </p>

        </form>

      </div>

    </div>

    <div class="modal-footer">

      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Save</a>

      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>

    </div>

  </div>



  <!-- Modal for send feedback -->

  <div id="modal-for-send-feedback" class="modal" style="width:360px;">

    <div class="modal-content" style="padding:0;">

      <div class="blue-grey darken-1"style="padding:13px 16px;">

        <span class="white-text" style="font-size:20px; font-weight:600;">

          Send feedback

        </span>

      </div>

      <div style="padding:0 16px;">

        <form>

          <div class="input-field">

            <textarea id="feedback" class="materialize-textarea" placeholder="Describe your issue or share your ideas"

            style="font-size:16px; font-weight:400; margin-bottom:0; height:178px;">

          </textarea>

        </div>

      </form>

    </div>

    <div style="padding:8px 16px 0 8px;">

      <p>

        <input type="checkbox" class="filled-in" id="filled-in-box"/>

        <label for="filled-in-box" class="black-text">Include screenshot</label>

      </p>

    </div>

    <div style="padding:0 16px 12px 16px; font-size:12px; font-weight:400; line-height:1.4;">

      <p>

     Here is a link to contact us if the app has bugs

      </p>

    </div>

  </div>

  <div class="modal-footer">

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Send</a>

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>

  </div>

</div>



<!-- Modal helps Structure -->

<div id="modal-for-help" class="modal bottom-sheet">

  <div class="modal-content" style="padding:0;">

    <div class="grey darken-2">

      <div class="white-text" style="padding:16px 8px 16px 8px; font-size:21px; font-weight:400; line-height:32px;">

        Help

        <a href="#!" class="white-text"><i class="material-icons modal-close right">close</i></a>

        <div>

          <form>

            <div class="input-field">

              <input id="search" type="search" style="background-color:#fff;" required>

              <label class="label-icon" for="search"><i class="material-icons">search</i></label>

              <i class="material-icons">close</i>

            </div>

          </form>

        </div>
      </div>

    </div>

  </div>
    </div>




 




<!-- Modal Import Structure -->

<div id="modal-for-import" class="modal modal-fixed-footer" style="width:466px;">

  <div class="modal-content" style="padding:0;">

    <div class="blue darken-4" style="padding:24px 0 24px 24px;">

      <div class="circle-background blue darken-1" style="display:table-cell;">

      <i class="material-icons white-text" style="vertical-align:middle;">import_contacts</i>

      </div>

      <div class="white-text" style="vertical-align:middle; display:table-cell; font-size:20px; font-weight:500; padding-left:24px;">

        Import contacts from other accounts

      </div>

    </div>

    <div style="padding:0 10px;">

      <table class="bordered centered">

    <thead>

      <tr>

      </tr>

    </thead>



    <tbody>



      <tr>

        <td>

          <a href="#!">

          <i class="material-icons grey-text">import_contacts</i>

        </a>

        </td>

        <td style="font-size:16px; font-weight:500;">

            <div id="dvImportSegments" class="fileupload ">
                <input type="file" id="fileUpload" />
                <input type="button" id="upload" value="Upload" />
                <hr />
            </div>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>



  <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Save</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat indigo-text">Cancel</a>

  </div>

</div>



<!-- Modal Export Structure -->

<div id="modal-for-export" class="modal modal-fixed-footer" style="width:450px; height:200px;">

  <div class="modal-content" style="padding:0;">

    <div style="font-size:20px; font-weight:500; padding:24px 24px 20px 24px;">Export</div>

    <div style="font-size:14px; font-weight:400; padding:0 24px;">
   exporting yet.

    </div>

  </div>

  <div class="modal-footer">

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat indigo-text" style="font-weight:500;">GO TO OLD VERSION</a>

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="font-weight:500;">CANCEL</a>

  </div>

</div>



<!-- Modal Print Structure -->

<div id="modal-for-print" class="modal modal-fixed-footer" style="width:450px; height:200px;">

  <div class="modal-content" style="padding:0;">

    <div style="font-size:20px; font-weight:500; padding:24px 24px 20px 24px;">Print</div>

    <div style="font-size:14px; font-weight:400; padding:0 24px;">

     

    </div>

  </div>

  <div class="modal-footer">

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat indigo-text" style="font-weight:500;">GO TO OLD VERSION</a>

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="font-weight:500;">CANCEL</a>

  </div>

</div>



<!-- Modal Undo Changes Structure -->

<div id="modal-for-undo-changes" class="modal modal-fixed-footer" style="width:500px; height:410px;">

  <div class="modal-content" style="padding:0;">

    <div style="font-size:20px; font-weight:500; padding:24px 24px 20px 24px;">Undo changes</div>

    <div style="font-size:14px; font-weight:400; padding:0 24px;">

      Change your contacts list back to any state in the past 30 days.<br>

      <a href="#!" class="indigo-text">Learn More</a>

    </div>

    <div style="font-size:14px; font-weight:400; padding:10px 24px;">

      Undo changes from

    </div>

    <div style="padding:0 24px 0 24px;">

      <form action="#">

<p>

  <input class="with-gap" name="group2" type="radio" id="10min" />

  <label class="black-text" for="10min">10 min ago</label>

</p>

<p>

  <input class="with-gap" name="group2" type="radio" id="1hr" checked="checked" />

  <label class="black-text"  for="1hr">1 hr ago</label>

</p>

<p>

  <input class="with-gap" name="group2" type="radio" id="yesterday"  />

  <label class="black-text"  for="yesterday">Yesterday</label>

</p>

<p>

  <input class="with-gap" name="group2" type="radio" id="1week"/>

  <label class="black-text"  for="1week">1 Week ago</label>

</p>

<p>

  <input class="with-gap" name="group2" type="radio" id="custom"  />

  <label class="black-text"  for="custom">Custom</label>

</p>

</form>

    </div>

  </div>

  <div class="modal-footer">

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat indigo-text" style="font-weight:500;">CONFIRM</a>

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="font-weight:500;">CANCEL</a>

  </div>

</div>

<i class="material-icons">search</i>

<input type="text" value="" id="ModelID" onkeyup="SearchContacts($(this));">

<script type="text/javascript">

    function SearchContacts(element) {
        var val = $(element).val();
        $('#conbody tr').each(function () {
            var contents = $(this).contents().text();
            contents = contents.toLowerCase();
            val = val.toLowerCase();
            if (contents.indexOf(val) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    };

</script>

<script type="text/javascript">
      var contact, asc1 = 1,
          asc2 = 1,
          asc3 = 1;
      window.onload = function () {
          contact = document.getElementById("conbody");
      }

      function sort_table(tbody, col, asc) {
          var rows = tbody.rows,
              rlen = rows.length,
              arr = new Array(),
              i, j, cells, clen;
          // fill the array with values from the table
          for (i = 0; i < rlen; i++) {
              cells = rows[i].cells;
              clen = cells.length;
              arr[i] = new Array();
              for (j = 0; j < clen; j++) {
                  arr[i][j] = cells[j].innerHTML;
              }
          }
          // sort the array by the specified column number (col) and order (asc)
          arr.sort(function (a, b) {
              return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
          });
          // replace existing rows with new rows created from the sorted array
          for (i = 0; i < rlen; i++) {
              rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
          }
      }
</script>


<table id="contacts">
    <thead>
    <tr class="collection-item">
        <th onclick="sort_table(conbody, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;" class="indigo-text"><a class="waves-effect waves-light btn-large"><i class="material-icons right">contact_phone</i>Name</a>
</th>
        <th onclick="sort_table(conbody, 1, asc2); asc2 *= -1; asc3 = 1; asc1 = 1;" class="indigo-text"><a class="waves-effect waves-light btn-large"><i class="material-icons right">account_balance</i>Division</a>
</th>
        <th onclick="sort_table(conbody, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;" class="indigo-text"><a class="waves-effect waves-light btn-large"><i class="material-icons right">contacts</i>Phone Number</a>
</th>
        <th class="indigo-text"><a class="waves-effect waves-light btn-large disabled"><i class="material-icons right">cloud</i>Email</a>
</th>
  <!--
        <th class="indigo-text">Phone Number</th>
        <th class="indigo-text">Division</th>
        <th class="indigo-text">Name</th>
        <th class="indigo-text">Email </th>

      -->
    </tr>
     </thead>
    <tbody id="conbody">

    </tbody>

</table>
<script>


    $(document).ready(function () {


    jQuery.support.cors = true;
    $.ajax(
    {
        type: "GET",
        url: 'https://api-dev.ace.local/api/users/getContacts',

        xhrFields: {withCredentials: true },
        success: function (data) {
            for (let i = 0; i < data.length; i++) {
                let tr = `<tr class="highlight card-panel #eceff1 blue-grey lighten-5" style ="cursor:pointer;">
<td>  ${data[i].employeeName}</td><td>  ${data[i].division}</td><td>  ${data[i].companyPhone}</td><td>  ${data[i].companyEmail}</td><td>  </td>   
       <td class="center- hide-on-med-and-down">
        <a href="#!"><i class="material-icons grey-text">star_boder</i></a>
        <a href="#!"><i class="material-icons grey-text">person_add</i></a>
        <a href="#!"><i class="material-icons grey-text">more_vert</i></a>
    </td></tr>

`;
               


  $('#conbody').append(tr);

            }

        },
        error: function (msg) {
        // alert(msg.responseText);
        }
    });
    })
    // this will upload a list of CSV files into the API side, as a user will upload a CSV file.
    // Duplicates will be checked as files are being uploaded, so when can check for duplicates when a user uploads a CSV on the server side or in the client side.
    // Perfeveraly checking on the server side.
</script>



 
  <div id="dvCSV">

  </div>

    <div class="body-padding">


    </div>














